.header {
    padding: 10px 0 10px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
        margin-left: 200px;
    }
    &__item {
        position: relative;
        display: block;
        margin-right: 20px;
        li,
        &:hover .menu__dropdown {
            display: block;
        }
        &:last-child {
            margin-right: 0;
        }
        &-link {
            color: rgba(31, 32, 65, .5);
            text-decoration: none;
            &:hover {
                color: $main-color;
                transition: 0.5s;
            }
        }
        &-sidebar {
            padding-right: 20px;
            &::before {
                display: block;
                content: '';
                position: absolute;
                opacity: .5;
                height: 6px;
                width: 6px;
                right: 6px;
                top: 5px;
                border-right: 2px solid;
                border-bottom: 2px solid;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    &__dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        border-radius: 5%;
        right: -25%;
        &-item {
            color: rgba(31, 32, 65, .5);
            text-decoration: none;
            display: block;
            text-align: center;
            padding-top: 3px;
            padding: 5px 20px;
            &:hover {
                color: $main-color;
                transition: 0.5s;
            }
        }
    }
}

.button {
    &__entry {
        width: 87px;
        height: 34px;
        border: 2px solid #bc9cff;
        border-radius: 22px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $main-color;
        text-transform: uppercase;
        background: #fff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        a {
            color: $main-color;
        }
    }
    &__register {
        width: 196px;
        height: 34px;
        border: none;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
        a {
            color: #fff;
        }
    }
}