.header {
    padding: 26px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
        margin-left: 300px;
    }
    &__item {
        position: relative;
        list-style: none;
        margin-right: 20px;
        &-link {
            color: rgba(31,32,65,.5);
            text-decoration: none;
            &:hover {
                color: $main-color;
                transition: 0.5s;
            }
        }
        &-sidebar {
            padding-right: 20px;
            &::after {
                content: '';
                position: absolute;
                opacity: .5;
                background-color: transparent;
                height: 6px;
                width: 6px;
                right: 6px;
                top: 5px;
                border-right: 2px solid #1f2041;
                border-bottom: 2px solid #1f2041;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}


.button {
    &__entry {
        width: 87px;
        height: 34px;
        border: 2px solid #bc9cff;
        border-radius: 22px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $main-color;
        text-transform: uppercase;
        background: #fff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        a {
            color: $main-color;
        }
    }
    &__register {
        width: 196px;
        height: 34px;
        border: none;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        text-transform: uppercase;

        color: #FFFFFF;
        a {
            color: #fff;
        }
    }
}