.entry {
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    &__prompt {
        margin-right: 57px;
    }
}

.background {
    position: absolute;
    background: #FFFFFF;
    width: 380px;
    height: 358px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 210px;
    left: 580px;
}

.input {
    padding: 40px 30px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        &-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 42px;
        }
    }
    .email {
        margin-top: 20px;
        padding: 12px 265px 8px 15px;
    }
    .password {
        margin-top: 10px;
        padding: 12px 240px 8px 15px;
    }
}

.background-image {
    background: url(https://cdn.pixabay.com/photo/2015/09/05/20/07/cabin-924958_1280.jpg) center center/cover no-repeat;
    height: 700px;
}